<script setup>
import { useForm } from '@inertiajs/vue3'
import DangerButton from '../Components/DangerButton.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import EditForm from './Edit.vue'
const props = defineProps({
    markers: {
        type: Object,
        default: () => ({}),
    },
})
console.log(props.markers)
const form = useForm({
    name: null,
    lat: null,
    lng: null,
    description: null
})

const formDel = useForm({});
function mark(event) {
    form.lat = event.latLng.lat()
    form.lng = event.latLng.lng()
}

function destroy(id) {
    if (confirm("Are you sure you want to Delete")) {
        formDel.delete(route('maps.destroy', id));
    }
}

</script>

<template>
    <AuthenticatedLayout>
        <div class="sm:flex sm:flex-row">
            <form @submit.prevent="form.post(route('maps.store'))" class="flex justify-center self-center p-10 z-10 w-2/5">
                <div class="p-12 bg-purple-100 mx-auto rounded-3xl w-96  ">
                    <div class="mb-7">
                        <h3 class="font-semibold text-2xl text-gray-800">Google maps</h3>
                        <p class="text-gray-400">Create <a href="#"
                                class="text-sm text-purple-700 hover:text-purple-700">Marker</a></p>
                    </div>
                    <div class="space-y-6">
                        <input v-model="form.name" type="text"
                            class=" w-full text-sm  px-4 py-3 bg-gray-50 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-purple-400"
                            placeholder="Marker name">
                        <input v-model="form.lat" placeholder="lat" type="text"
                            class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-50 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
                        <input v-model="form.lng" placeholder="lng" type="text"
                            class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-50 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
                        <input v-model="form.description" placeholder="description" type="text"
                            class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-50 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-purple-400">
                        <div>
                            <button type="submit" :disabled="form.processing"
                                class="w-full flex justify-center bg-purple-800  hover:bg-purple-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <GMapMap ref="myMapRef" :center="center" :zoom="10" map-type-id="terrain" class="sm:w-3/5 h-auto "
                @click="mark">
                <GMapMarker :key="marker.id" v-for="marker in markers" :position="{ lat: marker.lat, lng: marker.lng }"
                    :clickable="true" :draggable="true" @click="openMarker(marker.id)">
                    <GMapInfoWindow :closeclick="true" @closeclick="openMarker(null)"
                        :opened="openedMarkerID === marker.id">
                        <DangerButton @click="destroy(marker.id)">DELETE</DangerButton>
                        <EditForm :marker=marker></EditForm>
                    </GMapInfoWindow>
                </GMapMarker>
            </GMapMap>
        </div>
    </AuthenticatedLayout>
</template>

<script>
export default {
    data() {
        return {
            openedMarkerID: null,
            center: { lat: 58.2449205980223, lng: 22.496933575606914 },

        };
    },
    methods: {
        openMarker(id) {
            this.openedMarkerID = id
        },

    }
};
</script>
