<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
defineProps({
    weather: {
        units: 'metric',
        type: Object,
        default: null,
    }
})
function timeConverter(UNIX_timestamp) {
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
    return time;
}
function convertToCelsius(kelvin) {
    return (kelvin - 273.15);
}
</script>

<template>
    <AuthenticatedLayout>
        <div
            class="relative max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
            <div class="px-6">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full flex justify-center">
                        <img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="image" class="shadow-xl bg-slate-800 rounded-full align-middle absolute max-w-[150px] mt-6" />
                    </div>
                    <div class="w-full text-center mt-20">
                        <div class="flex justify-center lg:pt-4 pb-0">
                            <div class="p-3 text-center">
                                <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">{{
                                    convertToCelsius(weather.main.temp).toFixed(2) }}°C</span>
                                <span class="text-sm text-slate-400">temperature</span>
                            </div>
                            <div class="p-3 text-center">
                                <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">{{
                                    weather.wind.speed }}m/s</span>
                                <span class="text-sm text-slate-400">windspeed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center py-4">
                    <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">location : {{ weather.name }}</h3>
                    <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">time of measurement: {{
                        timeConverter(weather.dt) }}</div>
                </div>
            </div>
    </div>
</AuthenticatedLayout></template>
