<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import Blog from '@/Components/Blog.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import { useForm, Head } from '@inertiajs/vue3';

defineProps(['blogs', 'comments']);

const form = useForm({
    title: '',
    description: '',
});
</script>

<template>
    <Head title="Blogs" />

    <AuthenticatedLayout>
        <div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
            <form @submit.prevent="form.post(route('blogs.store'), { onSuccess: () => form.reset() })">
                <input type="text" v-model="form.title" placeholder="Blog title"
                    class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                <textarea v-model="form.description" placeholder="What's on your mind?"
                    class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"></textarea>
                <InputError :message="form.errors.description" class="mt-2" />
                <PrimaryButton class="mt-4">Post</PrimaryButton>
            </form>
            <div class="mt-6 bg-white shadow-sm rounded-lg divide-y">
                <Blog v-for="blog in blogs" :blog="blog" :comments="comments"/>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
